<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Rule to add .html extension to requests
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Handle SPA routing, fallback to index.html
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^.*$ /index.html [L]
</IfModule>

<IfModule mod_headers.c>
  # Serve .js files with the correct content type
  AddType text/javascript .js
</IfModule>
